@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

* {
  font-family: 'Orbit', sans-serif;
}

form span {
  width: 100px;
  justify-content: center;
}

#photo {
  border-radius: 50%;
  border: dashed 1px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.like {
  color: #c9234c;
  cursor: pointer;
  font-size: 1.1rem;
}

.count {
  color: #c9234c;
  font-size: 0.8rem;
}

.pagination {
  --bs-pagination-color: black !important;
}