<nav class="navbar navbar-expand-lg" style="background-color: transparent">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/"
                ><i
                    class="bi bi-film"
                    style="font-size: 2rem; color: rgb(187, 76, 128)"
                ></i
            ></a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="page1">인기영화</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page2">줄거리추천</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page3">배우감독추천</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
